In [1]:
import livef1
from livef1.utils.constants import interpolation_map
from livef1.adapters.livetimingf1_adapter import livetimingF1_getdata

import pandas as pd
import numpy as np
from datetime import timedelta

import matplotlib.pyplot as plt

session = livef1.get_session(season=2024, meeting_identifier="Spa", session_identifier="Race")

2025-01-15 13:40:36,120 : livef1 : INFO :: Selected meeting/session is:
Meeting Offname : FORMULA 1 ROLEX BELGIAN GRAND PRIX 2024
Meeting Name : Belgian Grand Prix
Meeting Circuit Shortname : Spa-Francorchamps
2025-01-15 13:40:36,125 : livef1 : INFO :: The meeting was received successfully.
2025-01-15 13:40:36,199 : livef1 : INFO :: Selected meeting/session is:
Session Name : Race
2025-01-15 13:40:36,201 : livef1 : INFO :: The session was received successfully.

In [2]:
res = session.get_data(dataName="Timing_Data")
df_exp = pd.DataFrame(res.value)
df_exp

2025-01-15 13:40:36,890 : livef1 : INFO :: Getting requested data.
Selected session : 2024 Belgian Grand Prix Race
Topic : TimingData
2025-01-15 13:40:40,543 : livef1 : INFO :: Data is successfully received.
2025-01-15 13:40:40,815 : livef1 : INFO :: Data is successfully parsed.

,SessionKey,timestamp,DriverNo,GapToLeader,IntervalToPositionAhead_Value,IntervalToPositionAhead_Catching,Line,Position,ShowPosition,RacingNumber,...,Sectors_2_Segments_6_Status,Sectors_1_PreviousValue,NumberOfLaps,Sectors_2_PreviousValue,Sectors_0_Value,Sectors_0_OverallFastest,Sectors_0_PersonalFastest,Sectors_0_PreviousValue,BestLapTime_Lap,NumberOfPitStops
0,9574,00:00:03.734,16,,,False,1.0,1,True,16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,9574,00:00:03.734,11,,,False,2.0,2,True,11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,9574,00:00:03.734,44,,,False,3.0,3,True,44,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,9574,00:00:03.734,4,,,False,4.0,4,True,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,9574,00:00:03.734,81,,,False,5.0,5,True,81,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47650,9574,02:17:07.716,1,NaN,NaN,True,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47651,9574,02:17:07.716,10,NaN,NaN,True,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47652,9574,02:17:07.716,77,NaN,NaN,True,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47653,9574,02:17:07.716,20,NaN,NaN,True,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47654,9574,02:17:07.716,24,39L,39L,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df_exp[["DriverNo","NumberOfPitStops"]]

      DriverNo  NumberOfPitStops
0           16               NaN
1           11               NaN
2           44               NaN
3            4               NaN
4           81               NaN
...        ...               ...
47650        1               NaN
47651       10               NaN
47652       77               NaN
47653       20               NaN
47654       24               NaN

[47655 rows x 2 columns]

In [4]:
df_11 = df_exp[df_exp["DriverNo"] == "11"]
# df_11 = df_exp[df_exp["DriverNo"] == "24"]

In [5]:
df_11.columns.tolist()

['SessionKey',
 'timestamp',
 'DriverNo',
 'GapToLeader',
 'IntervalToPositionAhead_Value',
 'IntervalToPositionAhead_Catching',
 'Line',
 'Position',
 'ShowPosition',
 'RacingNumber',
 'Retired',
 'InPit',
 'PitOut',
 'Stopped',
 'Status',
 'Sectors_1_Stopped',
 'Sectors_1_Value',
 'Sectors_1_Status',
 'Sectors_1_OverallFastest',
 'Sectors_1_PersonalFastest',
 'Sectors_2_Stopped',
 'Sectors_2_Value',
 'Sectors_2_Status',
 'Sectors_2_OverallFastest',
 'Sectors_2_PersonalFastest',
 'Sectors_3_Stopped',
 'Sectors_3_Value',
 'Sectors_3_Status',
 'Sectors_3_OverallFastest',
 'Sectors_3_PersonalFastest',
 'Speeds_I1_Value',
 'Speeds_I1_Status',
 'Speeds_I1_OverallFastest',
 'Speeds_I1_PersonalFastest',
 'Speeds_I2_Value',
 'Speeds_I2_Status',
 'Speeds_I2_OverallFastest',
 'Speeds_I2_PersonalFastest',
 'Speeds_FL_Value',
 'Speeds_FL_Status',
 'Speeds_FL_OverallFastest',
 'Speeds_FL_PersonalFastest',
 'Speeds_ST_Value',
 'Speeds_ST_Status',
 'Speeds_ST_OverallFastest',
 'Speeds_ST_PersonalFastest',
 'BestLapTime_Value',
 'LastLapTime_Value',
 'LastLapTime_Status',
 'LastLapTime_OverallFastest',
 'LastLapTime_PersonalFastest',
 'Segments_1_Status',
 'Segments_2_Status',
 'Segments_3_Status',
 'Segments_4_Status',
 'Segments_5_Status',
 'Segments_6_Status',
 'Segments_7_Status',
 'Segments_8_Status',
 'Segments_9_Status',
 'Segments_10_Status',
 'Segments_11_Status',
 'Segments_12_Status',
 'Sectors_0_Segments_0_Status',
 'Sectors_0_Segments_1_Status',
 'Sectors_0_Segments_2_Status',
 'Sectors_0_Segments_3_Status',
 'Sectors_0_Segments_4_Status',
 'Sectors_0_Segments_5_Status',
 'Sectors_0_Segments_6_Status',
 'Sectors_0_Segments_7_Status',
 'Sectors_1_Segments_0_Status',
 'Sectors_1_Segments_1_Status',
 'Sectors_1_Segments_2_Status',
 'Sectors_1_Segments_3_Status',
 'Sectors_1_Segments_4_Status',
 'Sectors_1_Segments_5_Status',
 'Sectors_1_Segments_6_Status',
 'Sectors_1_Segments_7_Status',
 'Sectors_1_Segments_8_Status',
 'Sectors_1_Segments_9_Status',
 'Sectors_1_Segments_10_Status',
 'Sectors_1_Segments_11_Status',
 'Sectors_2_Segments_0_Status',
 'Sectors_2_Segments_1_Status',
 'Sectors_2_Segments_2_Status',
 'Sectors_2_Segments_3_Status',
 'Sectors_2_Segments_4_Status',
 'Sectors_2_Segments_5_Status',
 'Sectors_2_Segments_6_Status',
 'Sectors_1_PreviousValue',
 'NumberOfLaps',
 'Sectors_2_PreviousValue',
 'Sectors_0_Value',
 'Sectors_0_OverallFastest',
 'Sectors_0_PersonalFastest',
 'Sectors_0_PreviousValue',
 'BestLapTime_Lap',
 'NumberOfPitStops']

In [164]:
cols = ["LastLapTime_Value","Sectors_0_Value","Sectors_1_Value","Sectors_2_Value","Sectors_0_PreviousValue","Sectors_1_PreviousValue","Sectors_2_PreviousValue","NumberOfLaps","InPit","PitOut"]

def str_timedelta(x):
    if isinstance(x,str):
        count_sep = x.count(":")

        if count_sep == 0:
            return "00:00:" + x
        elif count_sep == 1:
            return "00:" + x
        else: return x
    else:
        return x


df_test = df_11[["timestamp"] + cols ].dropna(subset=cols, how="all").replace('',np.nan)

# df_test["LapElapsed"] = df_test["Sectors_0_Value"] + df_test["Sectors_1_Value"] + df_test["Sectors_2_Value"]
# for col in df_test.columns:
#     df_test[col] = pd.to_timedelta(df_test[col])


for col in ["Sectors_0_Value","Sectors_1_Value","Sectors_2_Value", "Sectors_0_PreviousValue","Sectors_1_PreviousValue","Sectors_2_PreviousValue", "LastLapTime_Value"]:
    df_test[col] = df_test[col]
    # df_test[col] = df_test[col].fillna("00:00:00.000")
    df_test[col] = pd.to_timedelta(df_test[col].apply(str_timedelta))

# for col in []:
#     df_test[col] = df_test[col]
#     # df_test[col] = df_test[col].fillna("00:00:00.000")
#     df_test[col] = pd.to_timedelta(df_test[col].apply(str_timedelta))


df_test["LapElapsed"] = df_test["Sectors_0_Value"] + df_test["Sectors_1_Value"] + df_test["Sectors_2_Value"]


df_test.iloc[50:100]
# df_test.head(50)

,timestamp,LastLapTime_Value,Sectors_0_Value,Sectors_1_Value,Sectors_2_Value,Sectors_0_PreviousValue,Sectors_1_PreviousValue,Sectors_2_PreviousValue,NumberOfLaps,InPit,PitOut,LapElapsed
10566,01:09:58.145,0 days 00:01:49.912000,NaT,NaT,0 days 00:00:29.554000,NaT,NaT,NaT,8.0,NaN,NaN,NaT
10569,01:09:58.719,NaT,NaT,NaT,NaT,NaT,NaT,0 days 00:00:29.554000,NaN,NaN,NaN,NaT
10846,01:10:29.742,NaT,0 days 00:00:31.506000,NaT,NaT,NaT,NaT,NaT,NaN,NaN,NaN,NaT
10889,01:10:33.716,NaT,NaT,NaT,NaT,0 days 00:00:31.506000,NaT,NaT,NaN,NaN,NaN,NaT
11298,01:11:18.873,NaT,NaT,0 days 00:00:49.173000,NaT,NaT,NaT,NaT,NaN,NaN,NaN,NaT
11341,01:11:23.761,NaT,NaT,NaT,NaT,NaT,0 days 00:00:49.173000,NaT,NaN,NaN,NaN,NaT
11566,01:11:48.541,0 days 00:01:50.286000,NaT,NaT,0 days 00:00:29.607000,NaT,NaT,NaT,9.0,NaN,NaN,NaT
11569,01:11:48.766,NaT,NaT,NaT,NaT,NaT,NaT,0 days 00:00:29.607000,NaN,NaN,NaN,NaT
11863,01:12:20.189,NaT,0 days 00:00:31.598000,NaT,NaT,NaT,NaT,NaT,NaN,NaN,NaN,NaT
12307,01:13:09.002,NaT,NaT,0 days 00:00:48.943000,NaT,NaT,NaT,NaT,NaN,NaN,NaN,NaT
12347,01:13:13.988,NaT,NaT,NaT,NaT,NaT,0 days 00:00:48.943000,NaT,NaN,NaN,NaN,NaT
12574,01:13:38.564,0 days 00:01:50.057000,NaT,NaT,0 days 00:00:29.516000,NaT,NaT,NaT,10.0,NaN,NaN,NaT
12576,01:13:38.985,NaT,NaT,NaT,NaT,NaT,NaT,0 days 00:00:29.516000,NaN,NaN,NaN,NaT
12869,01:14:10.140,NaT,0 days 00:00:31.528000,NaT,NaT,NaT,NaT,NaT,NaN,NaN,NaN,NaT
12874,01:14:10.605,NaT,NaT,NaT,NaT,0 days 00:00:31.528000,NaT,NaT,NaN,NaN,NaN,NaT
13338,01:14:59.109,NaT,NaT,0 days 00:00:49.036000,NaT,NaT,NaT,NaT,NaN,NaN,NaN,NaT
13378,01:15:03.963,NaT,NaT,NaT,NaT,NaT,0 days 00:00:49.036000,NaT,NaN,NaN,NaN,NaT
13605,01:15:29.327,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaN,True,NaN,NaT
13649,01:15:33.530,0 days 00:01:54.844000,NaT,NaT,0 days 00:00:34.280000,NaT,NaT,NaT,11.0,NaN,NaN,NaT
13656,01:15:34.044,NaT,NaT,NaT,NaT,NaT,NaT,0 days 00:00:34.280000,NaN,NaN,NaN,NaT
13812,01:15:51.964,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaN,False,True,NaT
14085,01:16:18.372,NaT,0 days 00:00:44.973000,NaT,NaT,NaT,NaT,NaT,NaN,NaN,False,NaT
14538,01:17:07.643,NaT,NaT,0 days 00:00:49.368000,NaT,NaT,NaT,NaT,NaN,NaN,NaN,NaT
14557,01:17:09.332,NaT,NaT,NaT,NaT,NaT,0 days 00:00:49.368000,NaT,NaN,NaN,NaN,NaT
14816,01:17:37.135,0 days 00:02:03.704000,NaT,NaT,0 days 00:00:29.363000,NaT,NaT,NaT,12.0,NaN,NaN,NaT
14825,01:17:37.539,NaT,NaT,NaT,NaT,NaT,NaT,0 days 00:00:29.363000,NaN,NaN,NaN,NaT
15132,01:18:08.229,NaT,0 days 00:00:31.062000,NaT,NaT,NaT,NaT,NaT,NaN,NaN,NaN,NaT
15593,01:18:56.716,NaT,NaT,0 days 00:00:48.626000,NaT,NaT,NaT,NaT,NaN,NaN,NaN,NaT
15619,01:18:59.392,NaT,NaT,NaT,NaT,NaT,0 days 00:00:48.626000,NaT,NaN,NaN,NaN,NaT
15869,01:19:25.901,0 days 00:01:48.772000,NaT,NaT,0 days 00:00:29.084000,NaT,NaT,NaT,13.0,NaN,NaN,NaT
15873,01:19:26.767,NaT,NaT,NaT,NaT,NaT,NaT,0 days 00:00:29.084000,NaN,NaN,NaN,NaT
16162,01:19:56.710,NaT,0 days 00:00:30.765000,NaT,NaT,NaT,NaT,NaT,NaN,NaN,NaN,NaT
16192,01:19:59.571,NaT,NaT,NaT,NaT,0 days 00:00:30.765000,NaT,NaT,NaN,NaN,NaN,NaT
16617,01:20:45.083,NaT,NaT,0 days 00:00:48.478000,NaT,NaT,NaT,NaT,NaN,NaN,NaN,NaT
16878,01:21:14.182,0 days 00:01:48.394000,NaT,NaT,0 days 00:00:29.151000,NaT,NaT,NaT,14.0,NaN,NaN,NaT
16880,01:21:14.215,NaT,NaT,NaT,NaT,NaT,NaT,0 days 00:00:29.151000,NaN,NaN,NaN,NaT
17165,01:21:45.707,NaT,0 days 00:00:31.119000,NaT,NaT,NaT,NaT,NaT,NaN,NaN,NaN,NaT
17212,01:21:49.674,NaT,NaT,NaT,NaT,0 days 00:00:31.119000,NaT,NaT,NaN,NaN,NaN,NaT
17608,01:22:33.517,NaT,NaT,0 days 00:00:48.083000,NaT,NaT,NaT,NaT,NaN,NaN,NaN,NaT
17624,01:22:34.720,NaT,NaT,NaT,NaT,NaT,0 days 00:00:48.083000,NaT,NaN,NaN,NaN,NaT
17874,01:23:02.576,0 days 00:01:48.305000,NaT,NaT,0 days 00:00:29.103000,NaT,NaT,NaT,15.0,NaN,NaN,NaT
17899,01:23:04.670,NaT,NaT,NaT,NaT,NaT,NaT,0 days 00:00:29.103000,NaN,NaN,NaN,NaT
18169,01:23:33.911,NaT,0 days 00:00:31.333000,NaT,NaT,NaT,NaT,NaT,NaN,NaN,NaN,NaT
18177,01:23:34.781,NaT,NaT,NaT,NaT,0 days 00:00:31.333000,NaT,NaT,NaN,NaN,NaN,NaT
18633,01:24:21.841,NaT,NaT,0 days 00:00:48.045000,NaT,NaT,NaT,NaT,NaN,NaN,NaN,NaT
18664,01:24:24.828,NaT,NaT,NaT,NaT,NaT,0 days 00:00:48.045000,NaT,NaN,NaN,NaN,NaT
18900,01:24:51.008,0 days 00:01:48.504000,NaT,NaT,0 days 00:00:29.126000,NaT,NaT,NaT,16.0,NaN,NaN,NaT
18902,01:24:51.148,NaT,NaT,NaT,NaT,NaT,NaT,0 days 00:00:29.126000,NaN,NaN,NaN,NaT
19192,01:25:22.467,NaT,0 days 00:00:31.332000,NaT,NaT,NaT,NaT,NaT,NaN,NaN,NaN,NaT
19215,01:25:24.913,NaT,NaT,NaT,NaT,0 days 00:00:31.332000,NaT,NaT,NaN,NaN,NaN,NaT

In [19]:
df_11.columns.tolist()

['SessionKey',
 'timestamp',
 'DriverNo',
 'GapToLeader',
 'IntervalToPositionAhead_Value',
 'IntervalToPositionAhead_Catching',
 'Line',
 'Position',
 'ShowPosition',
 'RacingNumber',
 'Retired',
 'InPit',
 'PitOut',
 'Stopped',
 'Status',
 'Sectors_1_Stopped',
 'Sectors_1_Value',
 'Sectors_1_Status',
 'Sectors_1_OverallFastest',
 'Sectors_1_PersonalFastest',
 'Sectors_2_Stopped',
 'Sectors_2_Value',
 'Sectors_2_Status',
 'Sectors_2_OverallFastest',
 'Sectors_2_PersonalFastest',
 'Sectors_3_Stopped',
 'Sectors_3_Value',
 'Sectors_3_Status',
 'Sectors_3_OverallFastest',
 'Sectors_3_PersonalFastest',
 'Speeds_I1_Value',
 'Speeds_I1_Status',
 'Speeds_I1_OverallFastest',
 'Speeds_I1_PersonalFastest',
 'Speeds_I2_Value',
 'Speeds_I2_Status',
 'Speeds_I2_OverallFastest',
 'Speeds_I2_PersonalFastest',
 'Speeds_FL_Value',
 'Speeds_FL_Status',
 'Speeds_FL_OverallFastest',
 'Speeds_FL_PersonalFastest',
 'Speeds_ST_Value',
 'Speeds_ST_Status',
 'Speeds_ST_OverallFastest',
 'Speeds_ST_PersonalFastest',
 'BestLapTime_Value',
 'LastLapTime_Value',
 'LastLapTime_Status',
 'LastLapTime_OverallFastest',
 'LastLapTime_PersonalFastest',
 'Segments_1_Status',
 'Segments_2_Status',
 'Segments_3_Status',
 'Segments_4_Status',
 'Segments_5_Status',
 'Segments_6_Status',
 'Segments_7_Status',
 'Segments_8_Status',
 'Segments_9_Status',
 'Segments_10_Status',
 'Segments_11_Status',
 'Segments_12_Status',
 'Sectors_0_Segments_0_Status',
 'Sectors_0_Segments_1_Status',
 'Sectors_0_Segments_2_Status',
 'Sectors_0_Segments_3_Status',
 'Sectors_0_Segments_4_Status',
 'Sectors_0_Segments_5_Status',
 'Sectors_0_Segments_6_Status',
 'Sectors_0_Segments_7_Status',
 'Sectors_1_Segments_0_Status',
 'Sectors_1_Segments_1_Status',
 'Sectors_1_Segments_2_Status',
 'Sectors_1_Segments_3_Status',
 'Sectors_1_Segments_4_Status',
 'Sectors_1_Segments_5_Status',
 'Sectors_1_Segments_6_Status',
 'Sectors_1_Segments_7_Status',
 'Sectors_1_Segments_8_Status',
 'Sectors_1_Segments_9_Status',
 'Sectors_1_Segments_10_Status',
 'Sectors_1_Segments_11_Status',
 'Sectors_2_Segments_0_Status',
 'Sectors_2_Segments_1_Status',
 'Sectors_2_Segments_2_Status',
 'Sectors_2_Segments_3_Status',
 'Sectors_2_Segments_4_Status',
 'Sectors_2_Segments_5_Status',
 'Sectors_2_Segments_6_Status',
 'Sectors_1_PreviousValue',
 'NumberOfLaps',
 'Sectors_2_PreviousValue',
 'Sectors_0_Value',
 'Sectors_0_OverallFastest',
 'Sectors_0_PersonalFastest',
 'Sectors_0_PreviousValue',
 'BestLapTime_Lap',
 'NumberOfPitStops']

In [157]:
sector_cols = [
    "Sectors_0_Value",
    "Sectors_1_Value",
    "Sectors_2_Value",
    "Sectors_0_PreviousValue",
    "Sectors_1_PreviousValue",
    "Sectors_2_PreviousValue"
]

cols = ["lap_no","1","2","3", "LapTime"]

def enter_new_lap(laps, record):
    print(">>", record)
    if laps is None and record is None:
        return [], {key:None if key != "lap_no" else 1 for key in cols}, timedelta(seconds=0)

    if record["LapTime"] is None:
        record["LapTime"] = record["1"] + record["2"] + record["3"]

    laps.append(record)
    record = {key:None if key != "lap_no" else val+1 for key, val in record.items()}
    return laps, record


new_lap_allowed = True
laps, record, last_record_ts = enter_new_lap(None, None)

for idx,row in df_test.iterrows():
    ts = pd.to_timedelta(row.timestamp)
    
    for sc_key, sc_value in row[["LastLapTime_Value"]].dropna().to_dict().items():
        record["LapTime"] = sc_value
        
    for sc_key, sc_value in row[sector_cols].dropna().to_dict().items():
        sc_no = int(sc_key.split("_")[1])
        key_type = sc_key.split("_")[2]
        print(sc_no, "||", ts, "||", key_type, sc_value)

        if key_type == "Value":
            if record[str(sc_no + 1)] == None:
                record[str(sc_no + 1)] = sc_value
                last_record_ts = ts
                if sc_no == 2:
                    # entering new lap
                    laps, record = enter_new_lap(laps, record)
            elif sc_value == record[str(sc_no + 1)]: pass
            elif ts - last_record_ts > timedelta(seconds=10):
                # entering new lap
                laps, record = enter_new_lap(laps, record)
                record[str(sc_no + 1)] = sc_value
                last_record_ts = ts

        elif key_type == "PreviousValue" and ts - last_record_ts > timedelta(seconds=10):
            record[str(sc_no + 1)] = sc_value
            last_record_ts = ts
            if sc_no == 2:
                # entering new lap
                laps, record = enter_new_lap(laps, record)

laps_df = pd.DataFrame(laps)

segments = ["1","2","3"]
for idx in range(len(segments)):
    rest = np.delete(segments, idx)
    laps_df[segments[idx]] = (laps_df[segments[idx]].fillna(timedelta(minutes=0)) + (laps_df[segments[idx]].isnull() & (laps_df["lap_no"] > 1)) * (laps_df[segments[idx]].isnull() * (laps_df["LapTime"].fillna(timedelta(minutes=0)) - laps_df[rest].sum(axis=1)))).replace(timedelta(minutes=0), np.timedelta64("NaT"))

laps_df

>> None
1 || 0 days 00:56:39.019000 || Value 0 days 00:00:50.038000
1 || 0 days 00:56:42.768000 || PreviousValue 0 days 00:00:50.038000
2 || 0 days 00:57:08.631000 || Value 0 days 00:00:29.491000
>> {'lap_no': 1, '1': None, '2': Timedelta('0 days 00:00:50.038000'), '3': Timedelta('0 days 00:00:29.491000'), 'LapTime': None}
2 || 0 days 00:57:10.473000 || PreviousValue 0 days 00:00:29.491000
0 || 0 days 00:57:39.952000 || Value 0 days 00:00:31.365000
0 || 0 days 00:57:40.336000 || PreviousValue 0 days 00:00:31.365000
1 || 0 days 00:58:29.199000 || Value 0 days 00:00:49.207000
1 || 0 days 00:58:32.930000 || PreviousValue 0 days 00:00:49.207000
2 || 0 days 00:58:58.806000 || Value 0 days 00:00:29.668000
>> {'lap_no': 2, '1': Timedelta('0 days 00:00:31.365000'), '2': Timedelta('0 days 00:00:49.207000'), '3': Timedelta('0 days 00:00:29.668000'), 'LapTime': Timedelta('0 days 00:01:50.240000')}
2 || 0 days 00:58:59.549000 || PreviousValue 0 days 00:00:29.668000
0 || 0 days 00:59:30.427000 || Value 0 days 00:00:31.470000
0 || 0 days 00:59:32.995000 || PreviousValue 0 days 00:00:31.470000
1 || 0 days 01:00:19.226000 || Value 0 days 00:00:48.913000
2 || 0 days 01:00:48.902000 || Value 0 days 00:00:29.600000
>> {'lap_no': 3, '1': Timedelta('0 days 00:00:31.470000'), '2': Timedelta('0 days 00:00:48.913000'), '3': Timedelta('0 days 00:00:29.600000'), 'LapTime': Timedelta('0 days 00:01:49.983000')}
2 || 0 days 01:00:49.554000 || PreviousValue 0 days 00:00:29.600000
0 || 0 days 01:01:20.304000 || Value 0 days 00:00:31.356000
0 || 0 days 01:01:23.090000 || PreviousValue 0 days 00:00:31.356000
1 || 0 days 01:02:09.175000 || Value 0 days 00:00:49.032000
1 || 0 days 01:02:09.524000 || PreviousValue 0 days 00:00:49.032000
2 || 0 days 01:02:38.701000 || Value 0 days 00:00:29.402000
>> {'lap_no': 4, '1': Timedelta('0 days 00:00:31.356000'), '2': Timedelta('0 days 00:00:49.032000'), '3': Timedelta('0 days 00:00:29.402000'), 'LapTime': Timedelta('0 days 00:01:49.790000')}
2 || 0 days 01:02:39.432000 || PreviousValue 0 days 00:00:29.402000
0 || 0 days 01:03:13.122000 || PreviousValue 0 days 00:00:31.447000
1 || 0 days 01:03:59.032000 || Value 0 days 00:00:48.958000
1 || 0 days 01:04:01.960000 || PreviousValue 0 days 00:00:48.958000
2 || 0 days 01:04:28.501000 || Value 0 days 00:00:29.491000
>> {'lap_no': 5, '1': Timedelta('0 days 00:00:31.447000'), '2': Timedelta('0 days 00:00:48.958000'), '3': Timedelta('0 days 00:00:29.491000'), 'LapTime': Timedelta('0 days 00:01:49.896000')}
2 || 0 days 01:04:33.270000 || PreviousValue 0 days 00:00:29.491000
0 || 0 days 01:05:00.224000 || Value 0 days 00:00:31.583000
0 || 0 days 01:05:03.307000 || PreviousValue 0 days 00:00:31.583000
1 || 0 days 01:05:49.235000 || Value 0 days 00:00:49.116000
1 || 0 days 01:05:53.286000 || PreviousValue 0 days 00:00:49.116000
2 || 0 days 01:06:18.667000 || Value 0 days 00:00:29.430000
>> {'lap_no': 6, '1': Timedelta('0 days 00:00:31.583000'), '2': Timedelta('0 days 00:00:49.116000'), '3': Timedelta('0 days 00:00:29.430000'), 'LapTime': Timedelta('0 days 00:01:50.129000')}
2 || 0 days 01:06:23.417000 || PreviousValue 0 days 00:00:29.430000
0 || 0 days 01:06:50.147000 || Value 0 days 00:00:31.524000
0 || 0 days 01:06:53.442000 || PreviousValue 0 days 00:00:31.524000
1 || 0 days 01:07:38.791000 || Value 0 days 00:00:48.599000
1 || 0 days 01:07:43.509000 || PreviousValue 0 days 00:00:48.599000
2 || 0 days 01:08:08.301000 || Value 0 days 00:00:29.514000
>> {'lap_no': 7, '1': Timedelta('0 days 00:00:31.524000'), '2': Timedelta('0 days 00:00:48.599000'), '3': Timedelta('0 days 00:00:29.514000'), 'LapTime': Timedelta('0 days 00:01:49.637000')}
2 || 0 days 01:08:08.600000 || PreviousValue 0 days 00:00:29.514000
0 || 0 days 01:08:39.889000 || Value 0 days 00:00:31.530000
0 || 0 days 01:08:43.566000 || PreviousValue 0 days 00:00:31.530000
1 || 0 days 01:09:28.628000 || Value 0 days 00:00:48.828000
1 || 0 days 01:09:33.656000 || PreviousValue 0 days 00:00:48.828000
2 || 0 days 01:09:58.145000 || Value 0 days 00:00:29.554000
>> {'lap_no': 8, '1': Timedelta('0 days 00:00:31.530000'), '2': Timedelta('0 days 00:00:48.828000'), '3': Timedelta('0 days 00:00:29.554000'), 'LapTime': Timedelta('0 days 00:01:49.912000')}
2 || 0 days 01:09:58.719000 || PreviousValue 0 days 00:00:29.554000
0 || 0 days 01:10:29.742000 || Value 0 days 00:00:31.506000
0 || 0 days 01:10:33.716000 || PreviousValue 0 days 00:00:31.506000
1 || 0 days 01:11:18.873000 || Value 0 days 00:00:49.173000
1 || 0 days 01:11:23.761000 || PreviousValue 0 days 00:00:49.173000
2 || 0 days 01:11:48.541000 || Value 0 days 00:00:29.607000
>> {'lap_no': 9, '1': Timedelta('0 days 00:00:31.506000'), '2': Timedelta('0 days 00:00:49.173000'), '3': Timedelta('0 days 00:00:29.607000'), 'LapTime': Timedelta('0 days 00:01:50.286000')}
2 || 0 days 01:11:48.766000 || PreviousValue 0 days 00:00:29.607000
0 || 0 days 01:12:20.189000 || Value 0 days 00:00:31.598000
1 || 0 days 01:13:09.002000 || Value 0 days 00:00:48.943000
1 || 0 days 01:13:13.988000 || PreviousValue 0 days 00:00:48.943000
2 || 0 days 01:13:38.564000 || Value 0 days 00:00:29.516000
>> {'lap_no': 10, '1': Timedelta('0 days 00:00:31.598000'), '2': Timedelta('0 days 00:00:48.943000'), '3': Timedelta('0 days 00:00:29.516000'), 'LapTime': Timedelta('0 days 00:01:50.057000')}
2 || 0 days 01:13:38.985000 || PreviousValue 0 days 00:00:29.516000
0 || 0 days 01:14:10.140000 || Value 0 days 00:00:31.528000
0 || 0 days 01:14:10.605000 || PreviousValue 0 days 00:00:31.528000
1 || 0 days 01:14:59.109000 || Value 0 days 00:00:49.036000
1 || 0 days 01:15:03.963000 || PreviousValue 0 days 00:00:49.036000
2 || 0 days 01:15:33.530000 || Value 0 days 00:00:34.280000
>> {'lap_no': 11, '1': Timedelta('0 days 00:00:31.528000'), '2': Timedelta('0 days 00:00:49.036000'), '3': Timedelta('0 days 00:00:34.280000'), 'LapTime': Timedelta('0 days 00:01:54.844000')}
2 || 0 days 01:15:34.044000 || PreviousValue 0 days 00:00:34.280000
0 || 0 days 01:16:18.372000 || Value 0 days 00:00:44.973000
1 || 0 days 01:17:07.643000 || Value 0 days 00:00:49.368000
1 || 0 days 01:17:09.332000 || PreviousValue 0 days 00:00:49.368000
2 || 0 days 01:17:37.135000 || Value 0 days 00:00:29.363000
>> {'lap_no': 12, '1': Timedelta('0 days 00:00:44.973000'), '2': Timedelta('0 days 00:00:49.368000'), '3': Timedelta('0 days 00:00:29.363000'), 'LapTime': Timedelta('0 days 00:02:03.704000')}
2 || 0 days 01:17:37.539000 || PreviousValue 0 days 00:00:29.363000
0 || 0 days 01:18:08.229000 || Value 0 days 00:00:31.062000
1 || 0 days 01:18:56.716000 || Value 0 days 00:00:48.626000
1 || 0 days 01:18:59.392000 || PreviousValue 0 days 00:00:48.626000
2 || 0 days 01:19:25.901000 || Value 0 days 00:00:29.084000
>> {'lap_no': 13, '1': Timedelta('0 days 00:00:31.062000'), '2': Timedelta('0 days 00:00:48.626000'), '3': Timedelta('0 days 00:00:29.084000'), 'LapTime': Timedelta('0 days 00:01:48.772000')}
2 || 0 days 01:19:26.767000 || PreviousValue 0 days 00:00:29.084000
0 || 0 days 01:19:56.710000 || Value 0 days 00:00:30.765000
0 || 0 days 01:19:59.571000 || PreviousValue 0 days 00:00:30.765000
1 || 0 days 01:20:45.083000 || Value 0 days 00:00:48.478000
2 || 0 days 01:21:14.182000 || Value 0 days 00:00:29.151000
>> {'lap_no': 14, '1': Timedelta('0 days 00:00:30.765000'), '2': Timedelta('0 days 00:00:48.478000'), '3': Timedelta('0 days 00:00:29.151000'), 'LapTime': Timedelta('0 days 00:01:48.394000')}
2 || 0 days 01:21:14.215000 || PreviousValue 0 days 00:00:29.151000
0 || 0 days 01:21:45.707000 || Value 0 days 00:00:31.119000
0 || 0 days 01:21:49.674000 || PreviousValue 0 days 00:00:31.119000
1 || 0 days 01:22:33.517000 || Value 0 days 00:00:48.083000
1 || 0 days 01:22:34.720000 || PreviousValue 0 days 00:00:48.083000
2 || 0 days 01:23:02.576000 || Value 0 days 00:00:29.103000
>> {'lap_no': 15, '1': Timedelta('0 days 00:00:31.119000'), '2': Timedelta('0 days 00:00:48.083000'), '3': Timedelta('0 days 00:00:29.103000'), 'LapTime': Timedelta('0 days 00:01:48.305000')}
2 || 0 days 01:23:04.670000 || PreviousValue 0 days 00:00:29.103000
0 || 0 days 01:23:33.911000 || Value 0 days 00:00:31.333000
0 || 0 days 01:23:34.781000 || PreviousValue 0 days 00:00:31.333000
1 || 0 days 01:24:21.841000 || Value 0 days 00:00:48.045000
1 || 0 days 01:24:24.828000 || PreviousValue 0 days 00:00:48.045000
2 || 0 days 01:24:51.008000 || Value 0 days 00:00:29.126000
>> {'lap_no': 16, '1': Timedelta('0 days 00:00:31.333000'), '2': Timedelta('0 days 00:00:48.045000'), '3': Timedelta('0 days 00:00:29.126000'), 'LapTime': Timedelta('0 days 00:01:48.504000')}
2 || 0 days 01:24:51.148000 || PreviousValue 0 days 00:00:29.126000
0 || 0 days 01:25:22.467000 || Value 0 days 00:00:31.332000
0 || 0 days 01:25:24.913000 || PreviousValue 0 days 00:00:31.332000
1 || 0 days 01:26:10.344000 || Value 0 days 00:00:47.969000
1 || 0 days 01:26:14.972000 || PreviousValue 0 days 00:00:47.969000
2 || 0 days 01:26:39.526000 || Value 0 days 00:00:29.191000
>> {'lap_no': 17, '1': Timedelta('0 days 00:00:31.332000'), '2': Timedelta('0 days 00:00:47.969000'), '3': Timedelta('0 days 00:00:29.191000'), 'LapTime': Timedelta('0 days 00:01:48.492000')}
0 || 0 days 01:27:10.845000 || Value 0 days 00:00:31.237000
0 || 0 days 01:27:14.942000 || PreviousValue 0 days 00:00:31.237000
1 || 0 days 01:27:58.843000 || Value 0 days 00:00:48.064000
1 || 0 days 01:28:00.066000 || PreviousValue 0 days 00:00:48.064000
2 || 0 days 01:28:28.082000 || Value 0 days 00:00:29.253000
>> {'lap_no': 18, '1': Timedelta('0 days 00:00:31.237000'), '2': Timedelta('0 days 00:00:48.064000'), '3': Timedelta('0 days 00:00:29.253000'), 'LapTime': Timedelta('0 days 00:01:48.554000')}
2 || 0 days 01:28:30.185000 || PreviousValue 0 days 00:00:29.253000
0 || 0 days 01:28:59.497000 || Value 0 days 00:00:31.390000
0 || 0 days 01:28:59.793000 || PreviousValue 0 days 00:00:31.390000
1 || 0 days 01:29:47.515000 || Value 0 days 00:00:48.119000
1 || 0 days 01:29:50.250000 || PreviousValue 0 days 00:00:48.119000
2 || 0 days 01:30:16.815000 || Value 0 days 00:00:29.186000
>> {'lap_no': 19, '1': Timedelta('0 days 00:00:31.390000'), '2': Timedelta('0 days 00:00:48.119000'), '3': Timedelta('0 days 00:00:29.186000'), 'LapTime': Timedelta('0 days 00:01:48.695000')}
2 || 0 days 01:30:20.222000 || PreviousValue 0 days 00:00:29.186000
0 || 0 days 01:30:48.277000 || Value 0 days 00:00:31.422000
0 || 0 days 01:30:50.353000 || PreviousValue 0 days 00:00:31.422000
1 || 0 days 01:31:36.990000 || Value 0 days 00:00:48.809000
1 || 0 days 01:31:40.358000 || PreviousValue 0 days 00:00:48.809000
2 || 0 days 01:32:06.485000 || Value 0 days 00:00:29.432000
>> {'lap_no': 20, '1': Timedelta('0 days 00:00:31.422000'), '2': Timedelta('0 days 00:00:48.809000'), '3': Timedelta('0 days 00:00:29.432000'), 'LapTime': Timedelta('0 days 00:01:49.663000')}
2 || 0 days 01:32:10.647000 || PreviousValue 0 days 00:00:29.432000
0 || 0 days 01:32:38.007000 || Value 0 days 00:00:31.513000
0 || 0 days 01:32:40.702000 || PreviousValue 0 days 00:00:31.513000
1 || 0 days 01:33:30.661000 || PreviousValue 0 days 00:00:49.184000
2 || 0 days 01:34:01.243000 || Value 0 days 00:00:33.985000
>> {'lap_no': 21, '1': Timedelta('0 days 00:00:31.513000'), '2': Timedelta('0 days 00:00:49.184000'), '3': Timedelta('0 days 00:00:33.985000'), 'LapTime': Timedelta('0 days 00:01:54.682000')}
2 || 0 days 01:34:01.333000 || PreviousValue 0 days 00:00:33.985000
0 || 0 days 01:34:46.705000 || Value 0 days 00:00:45.499000
0 || 0 days 01:34:50.783000 || PreviousValue 0 days 00:00:45.499000
1 || 0 days 01:35:33.823000 || Value 0 days 00:00:47.097000
1 || 0 days 01:35:35.901000 || PreviousValue 0 days 00:00:47.097000
2 || 0 days 01:36:03.070000 || Value 0 days 00:00:29.235000
>> {'lap_no': 22, '1': Timedelta('0 days 00:00:45.499000'), '2': Timedelta('0 days 00:00:47.097000'), '3': Timedelta('0 days 00:00:29.235000'), 'LapTime': Timedelta('0 days 00:02:01.831000')}
2 || 0 days 01:36:05.843000 || PreviousValue 0 days 00:00:29.235000
0 || 0 days 01:36:34.343000 || Value 0 days 00:00:31.259000
0 || 0 days 01:36:35.938000 || PreviousValue 0 days 00:00:31.259000
1 || 0 days 01:37:21.224000 || Value 0 days 00:00:46.886000
1 || 0 days 01:37:25.908000 || PreviousValue 0 days 00:00:46.886000
2 || 0 days 01:37:50.364000 || Value 0 days 00:00:29.078000
>> {'lap_no': 23, '1': Timedelta('0 days 00:00:31.259000'), '2': Timedelta('0 days 00:00:46.886000'), '3': Timedelta('0 days 00:00:29.078000'), 'LapTime': Timedelta('0 days 00:01:47.223000')}
2 || 0 days 01:37:50.952000 || PreviousValue 0 days 00:00:29.078000
0 || 0 days 01:38:21.579000 || Value 0 days 00:00:31.333000
0 || 0 days 01:38:22.103000 || PreviousValue 0 days 00:00:31.333000
1 || 0 days 01:39:08.996000 || Value 0 days 00:00:47.399000
1 || 0 days 01:39:10.919000 || PreviousValue 0 days 00:00:47.399000
2 || 0 days 01:39:38.073000 || Value 0 days 00:00:29.090000
>> {'lap_no': 24, '1': Timedelta('0 days 00:00:31.333000'), '2': Timedelta('0 days 00:00:47.399000'), '3': Timedelta('0 days 00:00:29.090000'), 'LapTime': Timedelta('0 days 00:01:47.822000')}
2 || 0 days 01:39:41.090000 || PreviousValue 0 days 00:00:29.090000
0 || 0 days 01:40:09.430000 || Value 0 days 00:00:31.343000
0 || 0 days 01:40:11.200000 || PreviousValue 0 days 00:00:31.343000
1 || 0 days 01:40:56.604000 || Value 0 days 00:00:47.231000
1 || 0 days 01:41:01.166000 || PreviousValue 0 days 00:00:47.231000
2 || 0 days 01:41:25.759000 || Value 0 days 00:00:29.093000
>> {'lap_no': 25, '1': Timedelta('0 days 00:00:31.343000'), '2': Timedelta('0 days 00:00:47.231000'), '3': Timedelta('0 days 00:00:29.093000'), 'LapTime': Timedelta('0 days 00:01:47.667000')}
2 || 0 days 01:41:26.175000 || PreviousValue 0 days 00:00:29.093000
0 || 0 days 01:41:57.176000 || Value 0 days 00:00:31.404000
0 || 0 days 01:41:57.754000 || PreviousValue 0 days 00:00:31.404000
1 || 0 days 01:42:44.582000 || Value 0 days 00:00:47.520000
1 || 0 days 01:42:46.331000 || PreviousValue 0 days 00:00:47.520000
2 || 0 days 01:43:13.837000 || Value 0 days 00:00:29.124000
>> {'lap_no': 26, '1': Timedelta('0 days 00:00:31.404000'), '2': Timedelta('0 days 00:00:47.520000'), '3': Timedelta('0 days 00:00:29.124000'), 'LapTime': Timedelta('0 days 00:01:48.048000')}
2 || 0 days 01:43:16.300000 || PreviousValue 0 days 00:00:29.124000
0 || 0 days 01:43:44.989000 || Value 0 days 00:00:31.285000
0 || 0 days 01:43:46.427000 || PreviousValue 0 days 00:00:31.285000
1 || 0 days 01:44:32.276000 || Value 0 days 00:00:47.326000
1 || 0 days 01:44:36.414000 || PreviousValue 0 days 00:00:47.326000
2 || 0 days 01:45:01.436000 || Value 0 days 00:00:29.014000
>> {'lap_no': 27, '1': Timedelta('0 days 00:00:31.285000'), '2': Timedelta('0 days 00:00:47.326000'), '3': Timedelta('0 days 00:00:29.014000'), 'LapTime': Timedelta('0 days 00:01:47.625000')}
2 || 0 days 01:45:01.532000 || PreviousValue 0 days 00:00:29.014000
0 || 0 days 01:45:32.625000 || Value 0 days 00:00:31.264000
0 || 0 days 01:45:36.466000 || PreviousValue 0 days 00:00:31.264000
1 || 0 days 01:46:19.907000 || Value 0 days 00:00:47.353000
1 || 0 days 01:46:21.516000 || PreviousValue 0 days 00:00:47.353000
2 || 0 days 01:46:51.565000 || PreviousValue 0 days 00:00:29.083000
>> {'lap_no': 28, '1': Timedelta('0 days 00:00:31.264000'), '2': Timedelta('0 days 00:00:47.353000'), '3': Timedelta('0 days 00:00:29.083000'), 'LapTime': None}
0 || 0 days 01:47:20.235000 || Value 0 days 00:00:31.187000
1 || 0 days 01:48:07.572000 || Value 0 days 00:00:47.312000
1 || 0 days 01:48:08.960000 || PreviousValue 0 days 00:00:47.312000
2 || 0 days 01:48:36.517000 || Value 0 days 00:00:28.971000
>> {'lap_no': 29, '1': Timedelta('0 days 00:00:31.187000'), '2': Timedelta('0 days 00:00:47.312000'), '3': Timedelta('0 days 00:00:28.971000'), 'LapTime': Timedelta('0 days 00:01:47.470000')}
2 || 0 days 01:48:36.576000 || PreviousValue 0 days 00:00:28.971000
0 || 0 days 01:49:07.745000 || Value 0 days 00:00:31.169000
0 || 0 days 01:49:08.567000 || PreviousValue 0 days 00:00:31.169000
1 || 0 days 01:49:56.463000 || Value 0 days 00:00:48.727000
1 || 0 days 01:49:56.755000 || PreviousValue 0 days 00:00:48.727000
2 || 0 days 01:50:25.441000 || Value 0 days 00:00:28.982000
>> {'lap_no': 30, '1': Timedelta('0 days 00:00:31.169000'), '2': Timedelta('0 days 00:00:48.727000'), '3': Timedelta('0 days 00:00:28.982000'), 'LapTime': Timedelta('0 days 00:01:48.878000')}
2 || 0 days 01:50:25.560000 || PreviousValue 0 days 00:00:28.982000
0 || 0 days 01:50:56.455000 || Value 0 days 00:00:31.005000
0 || 0 days 01:50:56.877000 || PreviousValue 0 days 00:00:31.005000
1 || 0 days 01:51:44.779000 || Value 0 days 00:00:48.343000
1 || 0 days 01:51:46.983000 || PreviousValue 0 days 00:00:48.343000
2 || 0 days 01:52:13.749000 || Value 0 days 00:00:28.987000
>> {'lap_no': 31, '1': Timedelta('0 days 00:00:31.005000'), '2': Timedelta('0 days 00:00:48.343000'), '3': Timedelta('0 days 00:00:28.987000'), 'LapTime': Timedelta('0 days 00:01:48.335000')}
2 || 0 days 01:52:17.044000 || PreviousValue 0 days 00:00:28.987000
0 || 0 days 01:52:45.129000 || Value 0 days 00:00:31.302000
0 || 0 days 01:52:46.997000 || PreviousValue 0 days 00:00:31.302000
1 || 0 days 01:53:32.719000 || Value 0 days 00:00:47.611000
1 || 0 days 01:53:37.046000 || PreviousValue 0 days 00:00:47.611000
2 || 0 days 01:54:02.077000 || Value 0 days 00:00:29.103000
>> {'lap_no': 32, '1': Timedelta('0 days 00:00:31.302000'), '2': Timedelta('0 days 00:00:47.611000'), '3': Timedelta('0 days 00:00:29.103000'), 'LapTime': Timedelta('0 days 00:01:48.016000')}
0 || 0 days 01:54:33.001000 || Value 0 days 00:00:31.216000
0 || 0 days 01:54:37.122000 || PreviousValue 0 days 00:00:31.216000
1 || 0 days 01:55:20.172000 || Value 0 days 00:00:47.190000
1 || 0 days 01:55:22.190000 || PreviousValue 0 days 00:00:47.190000
2 || 0 days 01:55:49.540000 || Value 0 days 00:00:29.224000
>> {'lap_no': 33, '1': Timedelta('0 days 00:00:31.216000'), '2': Timedelta('0 days 00:00:47.190000'), '3': Timedelta('0 days 00:00:29.224000'), 'LapTime': Timedelta('0 days 00:01:47.630000')}
2 || 0 days 01:55:52.310000 || PreviousValue 0 days 00:00:29.224000
0 || 0 days 01:56:20.600000 || Value 0 days 00:00:31.160000
0 || 0 days 01:56:22.273000 || PreviousValue 0 days 00:00:31.160000
1 || 0 days 01:57:08.377000 || Value 0 days 00:00:47.778000
1 || 0 days 01:57:12.325000 || PreviousValue 0 days 00:00:47.778000
2 || 0 days 01:57:42.388000 || PreviousValue 0 days 00:00:29.279000
>> {'lap_no': 34, '1': Timedelta('0 days 00:00:31.160000'), '2': Timedelta('0 days 00:00:47.778000'), '3': Timedelta('0 days 00:00:29.279000'), 'LapTime': None}
0 || 0 days 01:58:09.016000 || Value 0 days 00:00:31.208000
0 || 0 days 01:58:12.471000 || PreviousValue 0 days 00:00:31.208000
1 || 0 days 01:58:56.329000 || Value 0 days 00:00:47.458000
2 || 0 days 01:59:25.543000 || Value 0 days 00:00:29.177000
>> {'lap_no': 35, '1': Timedelta('0 days 00:00:31.208000'), '2': Timedelta('0 days 00:00:47.458000'), '3': Timedelta('0 days 00:00:29.177000'), 'LapTime': Timedelta('0 days 00:01:47.843000')}
2 || 0 days 01:59:27.552000 || PreviousValue 0 days 00:00:29.177000
0 || 0 days 01:59:56.726000 || Value 0 days 00:00:31.205000
0 || 0 days 01:59:56.975000 || PreviousValue 0 days 00:00:31.205000
1 || 0 days 02:00:44.348000 || Value 0 days 00:00:47.674000
1 || 0 days 02:00:47.663000 || PreviousValue 0 days 00:00:47.674000
2 || 0 days 02:01:13.482000 || Value 0 days 00:00:29.135000
>> {'lap_no': 36, '1': Timedelta('0 days 00:00:31.205000'), '2': Timedelta('0 days 00:00:47.674000'), '3': Timedelta('0 days 00:00:29.135000'), 'LapTime': Timedelta('0 days 00:01:48.014000')}
2 || 0 days 02:01:17.694000 || PreviousValue 0 days 00:00:29.135000
0 || 0 days 02:01:44.837000 || Value 0 days 00:00:31.170000
0 || 0 days 02:01:47.702000 || PreviousValue 0 days 00:00:31.170000
1 || 0 days 02:02:32.184000 || Value 0 days 00:00:47.618000
1 || 0 days 02:02:32.695000 || PreviousValue 0 days 00:00:47.618000
2 || 0 days 02:03:01.504000 || Value 0 days 00:00:29.269000

,lap_no,1,2,3,LapTime
0,1,NaT,0 days 00:00:50.038000,0 days 00:00:29.491000,NaT
1,2,0 days 00:00:31.365000,0 days 00:00:49.207000,0 days 00:00:29.668000,0 days 00:01:50.240000
2,3,0 days 00:00:31.470000,0 days 00:00:48.913000,0 days 00:00:29.600000,0 days 00:01:49.983000
3,4,0 days 00:00:31.356000,0 days 00:00:49.032000,0 days 00:00:29.402000,0 days 00:01:49.790000
4,5,0 days 00:00:31.447000,0 days 00:00:48.958000,0 days 00:00:29.491000,0 days 00:01:49.896000
5,6,0 days 00:00:31.583000,0 days 00:00:49.116000,0 days 00:00:29.430000,0 days 00:01:50.129000
6,7,0 days 00:00:31.524000,0 days 00:00:48.599000,0 days 00:00:29.514000,0 days 00:01:49.637000
7,8,0 days 00:00:31.530000,0 days 00:00:48.828000,0 days 00:00:29.554000,0 days 00:01:49.912000
8,9,0 days 00:00:31.506000,0 days 00:00:49.173000,0 days 00:00:29.607000,0 days 00:01:50.286000
9,10,0 days 00:00:31.598000,0 days 00:00:48.943000,0 days 00:00:29.516000,0 days 00:01:50.057000
10,11,0 days 00:00:31.528000,0 days 00:00:49.036000,0 days 00:00:34.280000,0 days 00:01:54.844000
11,12,0 days 00:00:44.973000,0 days 00:00:49.368000,0 days 00:00:29.363000,0 days 00:02:03.704000
12,13,0 days 00:00:31.062000,0 days 00:00:48.626000,0 days 00:00:29.084000,0 days 00:01:48.772000
13,14,0 days 00:00:30.765000,0 days 00:00:48.478000,0 days 00:00:29.151000,0 days 00:01:48.394000
14,15,0 days 00:00:31.119000,0 days 00:00:48.083000,0 days 00:00:29.103000,0 days 00:01:48.305000
15,16,0 days 00:00:31.333000,0 days 00:00:48.045000,0 days 00:00:29.126000,0 days 00:01:48.504000
16,17,0 days 00:00:31.332000,0 days 00:00:47.969000,0 days 00:00:29.191000,0 days 00:01:48.492000
17,18,0 days 00:00:31.237000,0 days 00:00:48.064000,0 days 00:00:29.253000,0 days 00:01:48.554000
18,19,0 days 00:00:31.390000,0 days 00:00:48.119000,0 days 00:00:29.186000,0 days 00:01:48.695000
19,20,0 days 00:00:31.422000,0 days 00:00:48.809000,0 days 00:00:29.432000,0 days 00:01:49.663000
20,21,0 days 00:00:31.513000,0 days 00:00:49.184000,0 days 00:00:33.985000,0 days 00:01:54.682000
21,22,0 days 00:00:45.499000,0 days 00:00:47.097000,0 days 00:00:29.235000,0 days 00:02:01.831000
22,23,0 days 00:00:31.259000,0 days 00:00:46.886000,0 days 00:00:29.078000,0 days 00:01:47.223000
23,24,0 days 00:00:31.333000,0 days 00:00:47.399000,0 days 00:00:29.090000,0 days 00:01:47.822000
24,25,0 days 00:00:31.343000,0 days 00:00:47.231000,0 days 00:00:29.093000,0 days 00:01:47.667000
25,26,0 days 00:00:31.404000,0 days 00:00:47.520000,0 days 00:00:29.124000,0 days 00:01:48.048000
26,27,0 days 00:00:31.285000,0 days 00:00:47.326000,0 days 00:00:29.014000,0 days 00:01:47.625000
27,28,0 days 00:00:31.264000,0 days 00:00:47.353000,0 days 00:00:29.083000,0 days 00:01:47.700000
28,29,0 days 00:00:31.187000,0 days 00:00:47.312000,0 days 00:00:28.971000,0 days 00:01:47.470000
29,30,0 days 00:00:31.169000,0 days 00:00:48.727000,0 days 00:00:28.982000,0 days 00:01:48.878000
30,31,0 days 00:00:31.005000,0 days 00:00:48.343000,0 days 00:00:28.987000,0 days 00:01:48.335000
31,32,0 days 00:00:31.302000,0 days 00:00:47.611000,0 days 00:00:29.103000,0 days 00:01:48.016000
32,33,0 days 00:00:31.216000,0 days 00:00:47.190000,0 days 00:00:29.224000,0 days 00:01:47.630000
33,34,0 days 00:00:31.160000,0 days 00:00:47.778000,0 days 00:00:29.279000,0 days 00:01:48.217000
34,35,0 days 00:00:31.208000,0 days 00:00:47.458000,0 days 00:00:29.177000,0 days 00:01:47.843000
35,36,0 days 00:00:31.205000,0 days 00:00:47.674000,0 days 00:00:29.135000,0 days 00:01:48.014000
36,37,0 days 00:00:31.170000,0 days 00:00:47.618000,0 days 00:00:29.269000,0 days 00:01:48.057000
37,38,0 days 00:00:31.147000,0 days 00:00:47.455000,0 days 00:00:29.181000,0 days 00:01:47.783000
38,39,0 days 00:00:31.161000,0 days 00:00:48.875000,0 days 00:00:29.236000,0 days 00:01:49.272000
39,40,0 days 00:00:31.180000,0 days 00:00:47.643000,0 days 00:00:29.073000,0 days 00:01:47.896000
40,41,0 days 00:00:31.159000,0 days 00:00:47.712000,0 days 00:00:28.969000,0 days 00:01:47.840000
41,42,0 days 00:00:31.201000,0 days 00:00:47.601000,0 days 00:00:34.064000,0 days 00:01:52.866000
42,43,0 days 00:00:45.784000,0 days 00:00:47.705000,0 days 00:00:30.034000,0 days 00:02:03.523000
43,44,0 days 00:00:30.808000,0 days 00:00:45.309000,0 days 00:00:28.584000,0 days 00:01:44.701000

In [161]:
pd.to_timedelta("00:57:08.631000") + pd.to_timedelta("00:00:31.365000")

Timedelta('0 days 00:57:39.996000')

In [156]:
segments = ["1","2","3"]
idx = 0
rest = np.delete(segments, idx)

(laps_df[segments[idx]].fillna(timedelta(minutes=0)) + (laps_df[segments[idx]].isnull() & (laps_df["lap_no"] > 1)) * (laps_df[segments[idx]].isnull() * (laps_df["LapTime"].fillna(timedelta(minutes=0)) - laps_df[rest].sum(axis=1)))).replace(timedelta(minutes=0), np.timedelta64("NaT"))

0                       NaT
1    0 days 00:00:31.365000
2    0 days 00:00:31.470000
3    0 days 00:00:31.356000
4    0 days 00:00:31.447000
5    0 days 00:00:31.583000
6    0 days 00:00:31.524000
7    0 days 00:00:31.530000
8    0 days 00:00:31.506000
9    0 days 00:00:31.598000
10   0 days 00:00:31.528000
11   0 days 00:00:44.973000
12   0 days 00:00:31.062000
13   0 days 00:00:30.765000
14   0 days 00:00:31.119000
15   0 days 00:00:31.333000
16   0 days 00:00:31.332000
17   0 days 00:00:31.237000
18   0 days 00:00:31.390000
19   0 days 00:00:31.422000
20   0 days 00:00:31.513000
21   0 days 00:00:45.499000
22   0 days 00:00:31.259000
23   0 days 00:00:31.333000
24   0 days 00:00:31.343000
25   0 days 00:00:31.404000
26   0 days 00:00:31.285000
27   0 days 00:00:31.264000
28   0 days 00:00:31.187000
29   0 days 00:00:31.169000
30   0 days 00:00:31.005000
31   0 days 00:00:31.302000
32   0 days 00:00:31.216000
33   0 days 00:00:31.160000
34   0 days 00:00:31.208000
35   0 days 00:00:31.205000
36   0 days 00:00:31.170000
37   0 days 00:00:31.147000
38   0 days 00:00:31.161000
39   0 days 00:00:31.180000
40   0 days 00:00:31.159000
41   0 days 00:00:31.201000
42   0 days 00:00:45.784000
43   0 days 00:00:30.808000
dtype: timedelta64[ns]

datetime.timedelta(0)

0                       NaT
1    0 days 00:00:31.365000
2    0 days 00:00:31.470000
3    0 days 00:00:31.356000
4    0 days 00:00:31.447000
5    0 days 00:00:31.583000
6    0 days 00:00:31.524000
7    0 days 00:00:31.530000
8    0 days 00:00:31.506000
9    0 days 00:00:31.598000
10   0 days 00:00:31.528000
11   0 days 00:00:44.973000
12   0 days 00:00:31.062000
13   0 days 00:00:30.765000
14   0 days 00:00:31.119000
15   0 days 00:00:31.333000
16   0 days 00:00:31.332000
17   0 days 00:00:31.237000
18   0 days 00:00:31.390000
19   0 days 00:00:31.422000
20   0 days 00:00:31.513000
21   0 days 00:00:45.499000
22   0 days 00:00:31.259000
23   0 days 00:00:31.333000
24   0 days 00:00:31.343000
25   0 days 00:00:31.404000
26   0 days 00:00:31.285000
27   0 days 00:00:31.264000
28   0 days 00:00:31.187000
29   0 days 00:00:31.169000
30   0 days 00:00:31.005000
31   0 days 00:00:31.302000
32   0 days 00:00:31.216000
33   0 days 00:00:31.160000
34   0 days 00:00:31.208000
35   0 days 00:00:31.205000
36   0 days 00:00:31.170000
37   0 days 00:00:31.147000
38   0 days 00:00:31.161000
39   0 days 00:00:31.180000
40   0 days 00:00:31.159000
41   0 days 00:00:31.201000
42   0 days 00:00:45.784000
43   0 days 00:00:30.808000
dtype: timedelta64[ns]

In [103]:
from time import time

s = time()
for row in laps_df.itertuples():
    print(row.lap_no, row.TotalLapTime)
display(time() - s)

s = time()
for idx, row in laps_df.iterrows():
    print(row.lap_no, row.TotalLapTime)
display(time() - s)

1 NaT
2 0 days 00:01:50.240000
3 0 days 00:01:49.983000
4 0 days 00:01:49.790000
5 0 days 00:01:49.896000
6 0 days 00:01:50.129000
7 0 days 00:01:49.637000
8 0 days 00:01:49.912000
9 0 days 00:01:50.286000
10 0 days 00:01:50.057000
11 0 days 00:01:54.844000
12 0 days 00:02:03.704000
13 0 days 00:01:48.772000
14 0 days 00:01:48.394000
15 0 days 00:01:48.305000
16 0 days 00:01:48.504000
17 0 days 00:01:48.492000
18 0 days 00:01:48.554000
19 0 days 00:01:48.695000
20 0 days 00:01:49.663000
21 0 days 00:01:54.682000
22 0 days 00:02:01.831000
23 0 days 00:01:47.223000
24 0 days 00:01:47.822000
25 0 days 00:01:47.667000
26 0 days 00:01:48.048000
27 0 days 00:01:47.625000
28 0 days 00:01:47.700000
29 0 days 00:01:47.470000
30 0 days 00:01:48.878000
31 0 days 00:01:48.335000
32 0 days 00:01:48.016000
33 0 days 00:01:47.630000
34 0 days 00:01:48.217000
35 0 days 00:01:47.843000
36 0 days 00:01:48.014000
37 0 days 00:01:48.057000
38 0 days 00:01:47.783000
39 0 days 00:01:49.272000
40 NaT
41 0 days 00:01:47.840000
42 0 days 00:01:52.866000
43 0 days 00:02:03.523000
44 0 days 00:01:44.701000

0.0019681453704833984

1 NaT
2 0 days 00:01:50.240000
3 0 days 00:01:49.983000
4 0 days 00:01:49.790000
5 0 days 00:01:49.896000
6 0 days 00:01:50.129000
7 0 days 00:01:49.637000
8 0 days 00:01:49.912000
9 0 days 00:01:50.286000
10 0 days 00:01:50.057000
11 0 days 00:01:54.844000
12 0 days 00:02:03.704000
13 0 days 00:01:48.772000
14 0 days 00:01:48.394000
15 0 days 00:01:48.305000
16 0 days 00:01:48.504000
17 0 days 00:01:48.492000
18 0 days 00:01:48.554000
19 0 days 00:01:48.695000
20 0 days 00:01:49.663000
21 0 days 00:01:54.682000
22 0 days 00:02:01.831000
23 0 days 00:01:47.223000
24 0 days 00:01:47.822000
25 0 days 00:01:47.667000
26 0 days 00:01:48.048000
27 0 days 00:01:47.625000
28 0 days 00:01:47.700000
29 0 days 00:01:47.470000
30 0 days 00:01:48.878000
31 0 days 00:01:48.335000
32 0 days 00:01:48.016000
33 0 days 00:01:47.630000
34 0 days 00:01:48.217000
35 0 days 00:01:47.843000
36 0 days 00:01:48.014000
37 0 days 00:01:48.057000
38 0 days 00:01:47.783000
39 0 days 00:01:49.272000
40 NaT
41 0 days 00:01:47.840000
42 0 days 00:01:52.866000
43 0 days 00:02:03.523000
44 0 days 00:01:44.701000

0.0051496028900146484

In [ ]:
url = session.path + "TimingData.jsonStream"
res = livetimingF1_getdata(url, True)

In [87]:
# def parse_sector_data(data):
#     if isinstance(data, dict):
#         for sc_no, sc_data in data.items():

#             if "Segments" in sc_data:
#                 pass
#             else:
#                 print(">>", sc_data)



vals = pd.DataFrame([val for val in livef1.data_processing.parse_functions.parse_timing_data(res,1)])
vals
# for ts, val in .items():
#     # print(ts, val["Lines"])
#     for drv, drv_data in val["Lines"].items():
#         if "Sectors" in drv_data:
#             parse_sector_data(drv_data["Sectors"])


    # Sectors


# sector_cols = [
#     "Sectors_0_Value",
#     "Sectors_1_Value",
#     "Sectors_2_Value",
#     "Sectors_0_PreviousValue",
#     "Sectors_1_PreviousValue",
#     "Sectors_2_PreviousValue"
# ]

# cols = ["lap_no","1","2","3", "LapTime"]

# def enter_new_lap(laps, record):
#     print(">>", record)
#     if laps is None and record is None:
#         return [], {key:None if key != "lap_no" else 1 for key in cols}, timedelta(seconds=0)
#     laps.append(record)
#     record = {key:None if key != "lap_no" else val+1 for key, val in record.items()}
#     return laps, record


# new_lap_allowed = True
# laps, record, last_record_ts = enter_new_lap(None, None)

# for idx,row in df_test.iterrows():
#     ts = pd.to_timedelta(row.timestamp)
#     for sc_key, sc_value in row[sector_cols].dropna().to_dict().items():
#         sc_no = int(sc_key.split("_")[1])
#         key_type = sc_key.split("_")[2]
#         print(sc_no, "||", ts, "||", key_type, sc_value)

#         if key_type == "Value":
#             if record[str(sc_no + 1)] == None:
#                 record[str(sc_no + 1)] = sc_value
#                 last_record_ts = ts
#                 if sc_no == 2:
#                     # entering new lap
#                     laps, record = enter_new_lap(laps, record)
#             elif sc_value == record[str(sc_no + 1)]: pass
#             elif ts - last_record_ts > timedelta(seconds=10):
#                 # entering new lap
#                 laps, record = enter_new_lap(laps, record)
#                 record[str(sc_no + 1)] = sc_value
#                 last_record_ts = ts

#         elif key_type == "PreviousValue" and ts - last_record_ts > timedelta(seconds=10):
#             record[str(sc_no + 1)] = sc_value
#             last_record_ts = ts
#             if sc_no == 2:
#                 # entering new lap
#                 laps, record = enter_new_lap(laps, record)

,SessionKey,timestamp,DriverNo,GapToLeader,IntervalToPositionAhead_Value,IntervalToPositionAhead_Catching,Line,Position,ShowPosition,RacingNumber,...,Sectors_2_Segments_6_Status,Sectors_1_PreviousValue,NumberOfLaps,Sectors_2_PreviousValue,Sectors_0_Value,Sectors_0_OverallFastest,Sectors_0_PersonalFastest,Sectors_0_PreviousValue,BestLapTime_Lap,NumberOfPitStops
0,1,00:00:03.734,16,,,False,1.0,1,True,16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,00:00:03.734,11,,,False,2.0,2,True,11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,00:00:03.734,44,,,False,3.0,3,True,44,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,00:00:03.734,4,,,False,4.0,4,True,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,00:00:03.734,81,,,False,5.0,5,True,81,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47650,1,02:17:07.716,1,NaN,NaN,True,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47651,1,02:17:07.716,10,NaN,NaN,True,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47652,1,02:17:07.716,77,NaN,NaN,True,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47653,1,02:17:07.716,20,NaN,NaN,True,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47654,1,02:17:07.716,24,39L,39L,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN